
:root {
    --text-color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.karty {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 1em;
}

.card__produkt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    color: var(--text-color);
}

.card__produkt--tag {
    color: var(--text-color);
}

.picture {
    border-radius: 1.5em;
    overflow: hidden;
    width: 250px;
    height: 250px;
}
.img {
    width: 250px;
    height: 250px;
}

.cena__semibold {
    font-weight: bolder;
    font-size: xx-large;
}
.cena__sup {
    font-size: x-large;
    font-weight: bolder;
}
.cca__semibold {
    font-weight: bolder;
}
.info {
    font-size: larger;
}
.cena__bottom {
    display: flex;
    justify-content: space-between;
}