/* breakpoints: 250px(3x1), 532px(2x2), 798px(1x3) */
:root {
    --text-color: white;
    --favorite-color: rgb(47, 125, 59);
    --red-tag: rgb(227, 121, 112);
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.karty {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.roundel {
    height: 0.8em;
    width: 0.8em;
}

.card__produkt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    color: var(--text-color);
}

.card__produkt--tag {
    color: var(--text-color);
}

.picture { 
    position: relative;
}

.picture__tag::after {
    content: "Denní kontrola cen";
    font-size: 0.9em;
    background-color: var(--red-tag);
    color: white;
    height: 1em;
    border-radius: 0.3em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    text-align: center;
    line-height: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

.picture::before {
    content: "+";
    font-size: 3em;
    background-color: var(--favorite-color);
    color: white;
    aspect-ratio: 1/1;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.4em;
    text-align: center;
    line-height: 1.05em;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1.5em;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.cena {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
.cena__top {
    padding-bottom: 0.5em;
}
.cena__semibold {
    font-weight: bolder;
    font-size: xx-large;
}
.cena__sup {
    font-size: large;
    font-weight: bolder;
}
.cca__semibold {
    font-weight: bolder;
}
.info {
    font-size: larger;
}
.cena__bottom {
    display: flex;
    justify-content: space-between;
}

