
:root {
    --text-color: white;
    --favorite-color: rgb(47, 125, 59);
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.karty {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 1em;
}

.roundel {
    height: 1em;
    width: auto;
}

.card__produkt {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    color: var(--text-color);
}

.card__produkt--tag {
    color: var(--text-color);
}

.picture {
    border-radius: 1.5em;
    overflow: hidden;
    width: 250px;
    height: 250px;
    position: relative;
}

.picture::before {
    content: "+";
    font-size: 3em;
    background-color: var(--favorite-color);
    color: white;
    aspect-ratio: 1/1;
    height: 1em;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.4em;
    text-align: center;
    line-height: 1.05em;
}
.img {
    width: 250px;
    height: 250px;
}
.cena {
    padding-bottom: 0.5em;
}
.cena__top {
     padding-bottom: 0.5em;
}
.cena__semibold {
    font-weight: bolder;
    font-size: xx-large;
}
.cena__sup {
    font-size: large;
    font-weight: bolder;
}
.cca__semibold {
    font-weight: bolder;
}
.info {
    font-size: larger;
}
.cena__bottom {
    display: flex;
    justify-content: space-between;
}

